@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@400;500;600;700&display=swap');
@import './footer.css';
@import './nav.css';
@import './pages.css';
@import './documentation.css';
:root {
    --purple:#712370;
    --pink:#97027e;
    --green:#7d9c7c;
    --brown:#594E4A;
    --light-green:#7d9c7ca9;
}
.second-base {
    width:100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
main {
    padding-top:67.7px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:100%;
}
main > div {
    flex-grow:1;
    flex-basis:100%;
}

.spin-cycle {
    fill: #712370;
    
}
#loader-rotate {
    animation: rotate 3s infinite ease-in-out;
}
.loader-icon {
    display:block;
    width:100px;
    height:100px;
    position:absolute;
    top:-50px;
    left:-50px;

}
.loader-box {
    position:relative;
}
.loader-holder {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100vh;

}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359.999deg);
    }
}