footer {
    background-color:#7d9c7ca9;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
}
footer > div {
    display:flex;
    justify-content:center;
    flex-grow:1;
    flex-basis:100%;
    padding-top:5px;
    padding-bottom:5px;
}
.footer-copyright > a, .footer-copyright > a:focus {
    text-decoration:none;
    color:#21252988;
}
.footer-copyright > a:hover {
    color: #212529cc;
}
.footer-content > svg {
    width:25px;
    margin-left:5px;
    margin-right:5px;
}
.footer-content {
    font-size:15px;
}
.footer-copyright {
    background-color:#7d9c7c;
    font-weight:500;
    font-size:15px;
}
.sm-icon:hover {
    cursor: pointer;
    fill: #97027E;
}
.sm-icon {
    fill: #712370;
}